body{
    background: #EEF2F7;
}
.box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    background: white;
    border-radius: 5px;
    max-width: 430px;
  }
.boxPosition{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%); /*first is XY,top-bottom for center the box, same value as top and left*/
    justify-content: space-around; /* need to center the content in the box*/
    display: flex;
    text-align: center; /* need to center the text element in the box*/
    padding: 25px;
}
.button{
    background-color: lightslategray;
}
